@charset "UTF-8";

html {
  background: url(../images/webpages-assets/blank_Canvas_texture.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main {
  margin: auto;
  padding: 1.5rem;
  max-width: 100ch;
}
h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}
// .text_gradient {
//   background-image: var(--accent-gradient);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: #918bde;
//   background-size: 400%;
//   background-position: 0%;
// }
.text_gradient {
  position: relative;
  background-image: linear-gradient(135deg, #E40303 0%, #FF8C00 25%, #FFED00 50%, #008026 75%, #24408E 90%, #732982 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
}

.instructions {
  line-height: 1.6;
  margin: 1rem 0;
  border: 1px solid rgba(var(--accent), 25%);
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
    a { text-decoration: none; }
  }
}
.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 1rem;
  padding: 0;
}

a {
  text-decoration: none;
}