---
import MainLayout from '../layouts/MainLayout.astro';
import Diana_portrait from '../images/webpages-assets/Diana_portrait.png';
import Diana_working from '../images/webpages-assets/Diana_working.png';
---
<style lang="scss" scoped>
  @import "../styles/styles.scss";
  @import "../styles/buttons.scss";
  html {
    background: url(../images/webpages-assets/blank_Canvas_texture.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  main {
    margin: 0 auto;
		padding: 1.5rem;
		max-width: 90vw;
    .Diana_images {
      border-radius: 50%;
      width: 100%;
    }
  }
  .well {
		padding: 1.5rem;
		background-color: white;
		background-image: var(--accent-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}
</style>
<MainLayout title="About Diana">
  <main>
    <div style="width:100%;margin:1em;">
      <h1 class="text_gradient" style="float:left;">About Diana</h1>
      <a href="/" class="rainbow rainbow_border" style="font-size:1.5em;position:absolute;top:1em;right:1em;">&#x1f3e0;&#x202f;&#x1f519;</a>
    </div>
    <p class="well" style="clear:both;">Diana Christine Griffith is an Artist, Writer, Social Worker, Community Organizer, Psychoeducational Presenter, and Public Speaker.</p>
    <br>
    <img src={Diana_portrait} 
      alt="picture of Diana" 
      class="Diana_images">
    <br><br>
    <section class="well">
      <h2 class="text_gradient" style="margin:0;">Diana’s Vision</h2>
      <ul style="margin:0;">
        <li>To amplify voices of progressive thought leaders in the Orlando area making a positive impact on their communities.</li>
        <li>To educate, support, and empower people to go after goals they have for themselves both professionally&#65286;personally.</li>
        <li>To offer resources for mentorship, advice, and shared stories about unique struggles women in our society face.</li>
        <li>To be a person for whom intersectional inclusivity&#65286;allyship matter.</li>
      </ul>
      <p><a href="/" class="rainbow rainbow_border" style="text-decoration:none;color:black;">&#127968;&nbsp;return to Homepage</a></p>
    </section>
    <br>
    <img src={Diana_working} alt="Diana working" class="Diana_images">
  </main>
</MainLayout>