---
import PointillismSignature from './../images/webpages-assets/Diana_Pointillism_Signature.jpg';
import SelfPortrait from './../images/webpages-assets/Diana_self-portrait.jpg';
import MainLayout from './../layouts/MainLayout.astro';

---
<style lang="scss" scoped>
	@import "./../styles/styles.scss";
  @import "./../styles/buttons.scss";
</style>
<MainLayout>
  <div style="margin:1em auto 1em auto;text-align:center;">
    <h1 style="max-width:70vw;">
      <span>&#x2764;&#xfe0f;&#x202f;</span>
      <span class="text_gradient">Thanks for your interest in Diana's ART!</span>
      <span>&#x202f;&#x1f642;</span>
    </h1>
    <a href="/" class="rainbow rainbow_border" style="font-size:1.5em;position:absolute;top:1em;right:1em;">&#x1f3e0;&#x202f;&#x1f519;</a>
  </div>
  <div style="text-align:center;">
    <img src={PointillismSignature} style="max-width:55vw;border-radius:5%;">
  </div>
  <br>
  <div style="margin:0 auto;">
    <p style="font-size:1.5em;font-weight:bold;max-width:50ch;">B.F.&#x202f;Griffith, the coder&#xff06;webmaster who created this site, dedicates it with love to showcasing the amazing art of his awesomely talented wife, Diana!&#x202f;&#x2764;&#xfe0f;
      <br><br>He feels very fortunate to have such a supportive&#xff06;creative partner who can always light up a room with her intellect and infectious enthusiasm.&#x202f;&#x2728;
    </p>
  </div>
  <br>
  <div style="text-align:center;">
    <img src={SelfPortrait} style="max-width:25vw;border-radius:25%;">
  </div>
  <br>
  <div style="margin:0 auto;">
    <p style="font-size:1.5em;font-weight:bold;max-width:50ch;">This website prefers GitHub &ldquo;issues&rdquo; on its&nbsp;
      <a href="https://github.com/Diana-Artwork/Diana-Artwork.github.io/issues">open-source repository</a> as its official bug tracker, feature augmentation proposal tool, or content expansion requestor… If the problem or idea you wish to submit has not been addressed yet in any <a href="https://github.com/Diana-Artwork/Diana-Artwork.github.io/issues">existing issues already reported or suggested</a> on which you could comment, then please feel free to <a href="https://github.com/Diana-Artwork/Diana-Artwork.github.io/issues">open a new issue</a>.
    </p>
  </div>
  <div style="width:100%;padding: 0 0 2em 0;text-align:center;">
    <a href="/" class="rainbow rainbow_border" style="vertical-align:middle;font-size:1.5em;">&#x1f3e0;&#x202f;&#x1f519;</a>
  </div>
</MainLayout>