---
import MainLayout from './../layouts/MainLayout.astro';
import Card from './../components/Card.astro';
import Footer from './../components/Footer.astro';
import greetings_from_Orlando_Diana from './../images/webpages-assets/greetings_from_Orlando_Diana.png';
// component front matter never runs in the browser
console.log('index.astro loaded');
---
<style lang="scss" scoped>
	@import "./../styles/styles.scss";
	@import "./../styles/buttons.scss";
</style>
<MainLayout title="Welcome to Diana’s ART!">
  <main style="padding-bottom:0;">
		<div style="margin:0 auto 2em auto;text-align:center;">
			<h1>Welcome to <a href="/art" class="text_gradient">Diana’s ART</a> portfolio!</h1>
		</div>
		<ul role="list" class="link-card-grid">
			<Card
				href="/acrylic"
				title="Acrylics"
				body="🎨 Check out Diana’s abstract acrylic＆mixed-media paintings! 🖼🖌"
			/>
			<Card
				href="/watercolor"
				title="Watercolors"
				body="🎨 Check out Diana’s watercolor paintings! 💦 (including some beautifully blended mixed-media watercolor＆pens composites)&#x202f;&#x1f58a;&#xfe0f;"
			/>
		</ul>
		<p class="instructions">
			<strong class="text_gradient" style="font-size:2rem;">What is Art?</strong>
			<br>Follow the poignant journey of Diana’s creative works as she continues to contemplate that question and boldly experiment with abstract artistic expressions using a plethora of innovative techniques across a variety of (often mixed) media!
      <br><br>Her work has many inspirations, but she particularly admires many of the styles and methodologies pioneered by some of the <code>“<a href="https://www.goodreads.com/book/show/56698434-9th-street-women" target="_blank">9th Street Women</a>”</code> such as Lee Krasner or Elaine de Kooning, in addition to the celebrated Japanese abstract artist Yayoi Kusama, among many others… 
			<br><br>Alternatively, if you’re curious to learn about some impressive accomplishments of inspirational women in the Orlando area, you can explore some of Diana’s <a href="https://www.orlandoladyboss.com/about-diana/">past work here</a> or check out her <a href="https://www.orlandoladyboss.com/category/podcast/" target="_blank">Orlando Lady Boss podcast</a>.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/about"
				title="About Diana"
				body="Learn more about who Diana is as a person, what she primarily tends to be focused on these days, and some core values that are important to her!"
			/>
			<Card
				href="/PechaKucha"
				title="Pecha Kucha"
				body="Check out Diana Griffith’s inspiring June 2019 presentation at Orlando “Pecha Kucha” v26 exploring the fascinating but contentious topic: “What is Art?”"
			/>
		</ul>
		<div style="text-align:center;">
			<img src={greetings_from_Orlando_Diana} width="60%" style="border-radius:29%;">
		</div>
	</main>
  <Footer title="Footer"></Footer>
</MainLayout>
