---
import MainLayout from '../layouts/MainLayout.astro';
let title = 'Diana’s ART!';
// component front matter never runs in the browser
console.log('index.astro loaded');
---
<MainLayout>
  <h1>What is Art?</h1>
  <p><a href="/PechaKucha">Pecha Kucha</a></p>
</MainLayout>