---
import Card from './../components/Card.astro';
import AlexisJimPugh_Theater_DrPhillipsCenterOrlando from './../images/webpages-assets/AlexisJimPugh_Theater_DrPhillipsCenterOrlando.jpg';
let title = 'Pecha Kucha';
const pechaKuchaTheater = 'Alexis and Jim Pugh Theater at the Dr. Phillips Center, Orlando, Florida';
---
<style type="text/css">
	@import "./../styles/buttons.scss";
	body { background-color: black; }
	#Pecha-Kucha_container {
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
	}
	#Pecha-Kucha_container iframe, 
	#Pecha-Kucha_container object, 
	#Pecha-Kucha_container embed {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
	section {
		color:#918bde;
		margin: 1rem auto;
		padding: 1.5rem;
		max-width: 100ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%) !important;
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
<main id="Pecha-Kucha_container">
  <iframe 
    src="https://www.youtube.com/embed/zDDoA-1bXQQ" 
    title="Diana Griffith, Pecha Kucha Orlando v26 What is Art" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
</main>
<section>
	<ul role="list" class="link-card-grid">
		<Card
			href="/PechaKucha#PechaKucha_v26"
			title="Pecha Kucha"
			body="PechaKucha Night was devised in Tokyo, as a chance for creative people to meet, network, and share their work. Drawing its name from the Japanese term for chitchat, PechaKucha rests on a simple idea: 20 images x 20 seconds. It's a format that makes the presentations concise and keeps things moving at a rapid pace. Speakers may present their PechaKuchas on any subject, from the personal to the public. Since its debut in 2003, it's become a massive celebration, with events in over 1,000 cities around the world and audiences in the thousands. PechaKucha Nights in downtown Orlando began in 2010, quickly gaining an enthusiastic following and positive media attention. Speaking from the stage in Tokyo, the creators of the format have praised Orlando for hosting some of the best PechaKucha Nights in the world."
		/>
	</ul>
	<h1 id="PechaKucha_v26">Diana&nbsp;Griffith&#65312;<span class="text_gradient">Pecha&nbsp;Kucha</span>&nbsp;v26</h1>
	<code>June 29, 2019</code>
	<p>You can find new passions at any age&hellip; and use your own creativity to help you cope with a difficult world.</p>
	<p>In the presentation embedded above, Diana Griffith shares how struggles with her own mental health led her to seek out new ways to cope with stress&#65286;anxiety.</p>
	<p>Eventually, she found that abstract painting helped her to deconstruct her perfectionism, explore her emotions, and find new confidence in herself.</p>
	<p>More recently, as a Social Worker, Art&#65286;Play therapies have become a significant speciality of her practice, and can be helpful for clients of all ages!</p>
	<div style="text-align:center;">
		<code>(a portion of the proceeds from this event supported "The Art of Medicine" Foundation)</code>
		<img 
			src={AlexisJimPugh_Theater_DrPhillipsCenterOrlando} 
			alt={pechaKuchaTheater} 
			title={pechaKuchaTheater}
			style="border-radius:5px;width:80%;margin:0 auto;">
	<div>
</section>
<div style="width:100vw;text-align:center;padding-bottom:1.5em;margin:0;">
	<a href="/" class="rainbow rainbow_border" style="font-size:1.5em;">&#x1f3e0;&#x202f;&#x1f519;</a>
</div>