---
let {title} = Astro.props;
---
<!doctype html>
<html>
  <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" aria-description="Artemis icon created by max.icons" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
  <body>
    <slot></slot>
  </body>
</html>
<style is:global type="text/css">
	:root {
		--accent: 145, 139, 222;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		height: 100%;
		font-family: 'Poppins', sans-serif;
	}
	body {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	code {
		font-family: 'Space Mono', Monaco, Courier New, monospace;
	}
</style>